<h4>DASHBOARD</h4>

<div id="view" class="card">

    <div class="row">
        <div class="col s12 m2">
            <div class="card horizontal">
                <i class="material-icons large">playlist_add_check</i>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 v-text="taskCount">0</h5>
                    </div>
                    <div class="card-action">
                        <a href="#">TASKS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="card horizontal">
                <i class="material-icons large">dvr</i>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 v-text="logSize">0</h5>
                    </div>
                    <div class="card-action">
                        <a href="#">LOGS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="card horizontal">
                <i class="material-icons large">computer</i>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 v-text="nodeTotalCount">0</h5>
                    </div>
                    <div class="card-action">
                        <a href="#">NODES</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="card horizontal">
                <i class="material-icons large">autorenew</i>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 v-text="nodeOnlineCount">0</h5>
                    </div>
                    <div class="card-action">
                        <a href="#">ONLINE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="card horizontal">
                <i class="material-icons large">directions_run</i>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 v-text="runningTaskCount">0</h5>
                    </div>
                    <div class="card-action">
                        <a href="#">RUNNING</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="card bordered highlight responsive-table centered">
        <thead>
            <tr>
                <th width="8">#</th>
                <th>NODE</th>
                <th width="80">ENABLE</th>
                <th>ONLINE</th>
                <th>CPU | CORE</th>
                <th>MEM(M)</th>
                <th>TYPE</th>
                <th>OS</th>
                <th>PROCESS</th>
                <th>VERSION</th>
            </tr>
        </thead>
        <tbody>
            <tr v-show="nodes.length==0">
                <td colspan="12">
                    No data to display...
                </td>
            </tr>
            <tr v-for="node in nodes" :node-id="node.nodeId">
                <td><span :style="{'background-color': node.isOnline?'green':'red'}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> </td>
                <td><span v-text="node.nodeId"></span></td>
                <td><span v-text="node.isEnable"></span></td>
                <td><span v-text="node.isOnline" :style="{'color': node.isOnline?'green':'red', 'font-weight' : '700'}"></span></td>
                <td><span v-text="node.cpuLoad"></span> | <span v-text="node.cpuCoreCount"></span></td>
                <td><span v-text="node.freeMemory"></span> / <span v-text="node.totalMemory"></span></td>
                <td><span v-text="node.type==1?'default':'vps'"></span></td>
                <td><span v-text="node.os"></span></td>
                <td><span v-text="node.processCount"></span></td>
                <td><span v-text="node.version"></span></td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}