<div id="view">
    <h4>TASK HISTORY - {{ taskName }}</h4>
    <div class="card" v-for="(batch, idx) in histories">
        <div class="card-content">
            <span class="card-title">
                <span>Identity:</span> <span v-text="batch.identity"></span>
                <span style="margin-left:40px;">Start:</span> <span v-text="batch.creationTime"></span>
            </span>
            <table class="table" style="margin-bottom:1px;">
                <thead>
                    <tr role="row">
                        <th>#</th>
                        <th>NODE</th>
                        <th>TIME</th>
                        <th>STATUS</th>
                        <th>THREAD</th>
                        <th>LEFT</th>
                        <th>SUCCESS</th>
                        <th>ERROR</th>
                        <th>TOTAL</th>
                        <th>AVG DOWNLOAD</th>
                        <th>AVG PROCESS</th>
                        <th>AVG PIPELINE</th>
                        <th>
                            <a :href="'/tasklog?identity=' + batch.identity +'&taskName='+ taskName">VIEW LOGS</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-show="batch.statuses.length==0"></tr>
                    <tr role="row" v-for="(status,index) in batch.statuses">
                        <td v-text="index+1"></td>
                        <td v-text="status.nodeId"></td>
                        <td v-text="status.lastModificationTime"></td>
                        <td v-text="status.status" :style="{'color':status.status=='Running'?'green':'#000'}"></td>
                        <td v-text="status.thread"></td>
                        <td v-text="status.left"></td>
                        <td v-text="status.success"></td>
                        <td v-text="status.error"></td>
                        <td v-text="status.total"></td>
                        <td v-text="status.avgDownloadSpeed"></td>
                        <td v-text="status.avgProcessorSpeed"></td>
                        <td v-text="status.avgPipelineSpeed"></td>
                        <td><a :href="'/tasklog?identity='+batch.identity+'&nodeId='+status.nodeId+'&taskName='+ taskName"><i title="node log">VIEW LOGS</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div v-show="histories.length==0">There is no data to display for this task...</div>
    <div v-show="histories.length>0" class="row" style="margin-left:0;margin-right:0;">
        <div class="right">Showing <span v-text="page"></span> to <span v-text="size"></span> of <span v-text="total"></span> entries</div>
        <div id="pagination" class="left">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/taskhistory.js" asp-append-version="true"></script>
}
