@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In | DotnetSpider.Enterprise</title>
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <environment names="Development">
        <link href="~/css/latin_cyrillic_ext.css" rel="stylesheet" type="text/css">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="~/lib/node-waves/waves.css" rel="stylesheet" />
        <link href="~/lib/animate-css/animate.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/latin_cyrillic_ext.min.css" rel="stylesheet" type="text/css">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/lib/node-waves/waves.min.css" rel="stylesheet" />
        <link href="~/lib/animate-css/animate.min.css" rel="stylesheet" />
        <link href="~/css/style.min.css" rel="stylesheet">
        <link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet" />
    </environment>
</head>
@Html.AntiForgeryToken()
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">DotnetSpider<b>Enterprise</b></a>
            <small>zlzforever@163.com</small>
        </div>
        <div class="card">
            <div class="body">
                <div class="msg">Sign in to start your session</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control required email autofocus" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="button" onclick="signin()">SIGN IN</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a href="sign-up.html">Register Now!</a>
                    </div>
                    <div class="col-xs-6 align-right">
                        <a href="forgot-password.html">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/node-waves/waves.js"></script>
        <script src="~/lib/sweetalert/sweetalert-dev.js"></script>
        <!-- Validation Plugin Js -->
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <!-- Custom Js -->
        <script src="~/js/admin.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/sign-in.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/node-waves/waves.min.js"></script>
        <script src="~/lib/sweetalert/sweetalert.min.js"></script>
        <!-- Validation Plugin Js -->
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <!-- Custom Js -->
        <script src="~/js/admin.min.js"></script>
        <script src="~/js/site.min.js"></script>
        <script src="~/js/sign-in.min.js"></script>
    </environment>
</body>
</html>