
@section styles{
<environment names="Development">
    <link href="~/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
</environment>
<environment names="Staging,Production">
    <link href="~/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" asp-append-version="true" />
</environment>
    <style type="text/css">
        td {
            word-break: break-all;
        }

            td i {
                cursor: pointer;
            }

        .logWarnning {
            color: #ff9800;
        }

        .logError {
            color: red;
        }
    </style>
}

<div id="taskContent" class="container-fluid">
    <!-- Tasks -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        RUNNING LOGS
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-6">
                                <input id="startDate" type="text" onClick="WdatePicker()" placeholder="Start time" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <input id="endDate" type="text" class="form-control" placeholder="End time" onClick="WdatePicker()" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select id="logType">
                                <option value="">All</option>
                                <option value="Info">Info</option>
                                <option value="Warn">Warn</option>
                                <option value="Error">Error</option>
                            </select>&nbsp;
                            <input type="button" @@click="searchResults()" class="btn btn-primary waves-effect" value="OK" />
                        </div>
                    </div>

                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div id="tasksVIEW" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <table class="table table-bordered table-striped table-hover no-footer">
                                <thead>
                                    <tr role="row">
                                        <th v-for="col in columns">{{ col }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-show="logs.length==0">
                                        <td colspan="13">
                                            No data to display...
                                        </td>
                                    </tr>
                                    <tr role="row" v-for="(item,index) in logs">
                                        <td v-text="item"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-show="logs.length>0" class="dataTables_info">Showing <span v-text="logsPaging.page"></span> to <span v-text="logsPaging.size"></span> of <span v-text="logsPaging.total"></span> entries</div>
                            <div v-show="logs.length>0" class="dataTables_paginate paging_simple_numbers" id="logsPagination">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Tasks -->
</div>

@section scripts{
    <environment names="Development">
        <script src="~/lib/jquery-datatable/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="~/js/log/log.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery-datatable/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="~/js/log/log.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/My97DatePicker/WdatePicker.js"></script>
}