<h4 class="col s12 m4">
    TASK STATUS
</h4>
<div id="view" class="card">
    <div class="row">
        <div class="input-field col s12 m2">
            <select v-model="status">
                <option selected>All</option>
                <option>Init</option>
                <option>Running</option>
                <option>Stopped</option>
                <option>Exited</option>
                <option>Finished</option>
            </select>
        </div>
        <div class="input-field col s12 m8">
            <i class="material-icons prefix">search</i>
            <input id="keyword" type="text" class="validate" v-model="keyword" v-on:keypress="query($event)">
            <label for="keyword">Keyword</label>
        </div>
        <div class="input-field col s12 m2">
            <button class="btn btn-small" style="margin-top:5px;" v-on:click="query()">Search</button>
        </div>
    </div>
    <br />
    <table class="bordered highlight responsive-table centered">
        <thead>
            <tr role="row">
                <th>NAME</th>
                <th>NODE</th>
                <th>TIME</th>
                <th>STATUS</th>
                <th>THREAD</th>
                <th>LEFT</th>
                <th>SUCCESS</th>
                <th>ERROR</th>
                <th>TOTAL</th>
                <th>DOWNLOAD SPD</th>
                <th>PROCESS SPD</th>
                <th>PIPELINE SPD</th>
                <th>VIEW</th>
            </tr>
        </thead>
        <tbody>
            <tr v-show="taskStatuses.length==0">
                <td colspan="13">
                    No data to display...
                </td>
            </tr>
            <tr role="row" v-for="(taskStatus,index) in taskStatuses">
                <td v-text="taskStatus.name"></td>
                <td v-text="taskStatus.nodeId"></td>
                <td v-text="taskStatus.lastModificationTime"></td>
                <td v-text="taskStatus.status" :style="{'color':taskStatus.status=='Running'?'green':'#000'}"></td>
                <td v-text="taskStatus.thread"></td>
                <td v-text="taskStatus.left"></td>
                <td v-text="taskStatus.success"></td>
                <td v-text="taskStatus.error"></td>
                <td v-text="taskStatus.total"></td>
                <td v-text="taskStatus.avgDownloadSpeed"></td>
                <td v-text="taskStatus.avgProcessorSpeed"></td>
                <td v-text="taskStatus.avgPipelineSpeed"></td>
                <td><a :href="'/tasklog?identity='+taskStatus.identity+'&nodeid='+taskStatus.nodeId"><i title="node log">LOGS</i></a></td>
            </tr>
        </tbody>
    </table>
    <div v-show="total>size">Showing <span v-text="page"></span> to <span v-text="size"></span> of <span v-text="total"></span> entries</div>
    <div v-show="total>size" id="pagination">
        <ul class="pagination"></ul>
    </div>
</div>

@section scripts {
    <script src="~/js/taskstatus.js" asp-append-version="true"></script>
}
