@section styles{
    <environment names="Development">
        <link href="~/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <style type="text/css">
        td {
            word-break: break-all;
        }

            td i {
                cursor: pointer;
            }
    </style>
}
<div id="tasksView" class="container-fluid">
    <!-- Tasks -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        TASKS
                    </h2>
                    <button class="pull-right btn bg-blue btn-lg waves-effect waves-float" @@click="add()">New task</button>
                </div>
                <div class="body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div id="tasksView" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            @*<div class="dataTables_filter">
                                      <div class="col-md-2">
                                          <select class="form-control show-tick">
                                              <option>Solution1</option>
                                              <option>Solution2</option>
                                              <option>Solution3</option>
                                          </select>
                                      </div>
                                      <div class="col-md-3">
                                          <span class="pull-left">Search:</span>
                                          <input id="queryKeyword" type="search" v-model="keyword" v-on:keypress="onKeyPress($event)" class="form-control input-sm pull-left" placeholder="">
                                      </div>
                                </div>*@
                            <table class="table table-bordered table-striped table-hover no-footer">
                                <thead>
                                    <tr role="row">
                                        <th>NAME</th>
                                        <th>APPLICATION NAME</th>
                                        <th>OS</th>
                                        <th>NODE</th>
                                        <th>RUNNING</th>
                                        <th>CRON</th>
                                        <th>DEVELOPERS</th>
                                        <th>ARGUMENTS</th>
                                        <th>ENABLE</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-show="tasks.length==0">
                                        <td colspan="10">
                                            No tasks to display...
                                        </td>
                                    </tr>
                                    <tr role="row" v-for="task in tasks">
                                        <td v-text="task.name"></td>
                                        <td v-text="task.applicationName"></td>
                                        <td v-text="task.os"></td>
                                        <td v-text="task.nodeCount"></td>
                                        <td v-text="task.nodeRunningCount"></td>
                                        <td v-text="task.cron"></td>
                                        <td v-text="task.developers"></td>
                                        <td v-text="task.arguments"></td>
                                        <td v-text="task.isEnabled" :style="{'color':task.isEnabled?'green':'red','text-transform':'capitalize'}"></td>
                                        <td>
                                            <a href="javascript:void(0)"><i title="modify task" @@click.stop="modify(task)">Modify</i></a>
                                            <a href="javascript:void(0)"><i title="delete task" v-show="task.isEnabled" @@click.stop="disable(task)">Disable</i></a>
                                            <a href="javascript:void(0)"><i title="enable task" v-show="!task.isEnabled" @@click.stop="enable(task)">Enable</i></a>
                                            <a href="javascript:void(0)"><i title="delete task" @@click.stop="remove(task)">Remove</i></a>
                                            <a :href="'TaskHistory?TaskId='+ task.id" target="_blank"><i title="running history">History</i></a>
                                            <a href="javascript:void(0)"><i v-show="!task.isRunning" title="run task" @@click.stop="run(task)">Run</i></a>
                                            <a href="javascript:void(0)"><i v-show="task.isRunning" title="exit task" @@click.stop="exit(task.id)">Exit</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-show="total>size" class="dataTables_info">Showing <span v-text="page"></span> to <span v-text="size"></span> of <span v-text="total"></span> entries</div>
                            <div v-show="total>size" class="dataTables_paginate paging_simple_numbers" id="pagination">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Tasks -->
    <div class="modal fade" id="CreateNewTaskModal" tabindex="-1" data-backdrop="static" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new task</h4>
                </div>
                <div class="modal-body">
                    <form id="form_validation" method="POST" novalidate="novalidate">
                        @*<div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" id="spider" data-toggle="modal" v-model="selSpiderName" data-target="#VersionSelectModal" class="form-control" name="name" required="" aria-required="true">
                                    <label class="form-label">Spider</label>
                                </div>
                            </div>*@

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input name="os" type="radio" id="Linux" value="Linux" v-model="newTask.os" />
                                <label for="Linux">Linux</label>
                                <input name="os" type="radio" id="Windows" value="Windows" v-model="newTask.os" />
                                <label for="Windows">Windows</label>
                                <input name="os" type="radio" id="All" value="All" v-model="newTask.os" />
                                <label for="All">All</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="checkbox" id="checkbox" :checked="newTask.isEnabled" name="checkbox">
                                <label for="checkbox">Enable</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line',{'focused':newTask.name!='','error':nameVdt===false, 'success':nameVdt===true}]">
                                    <input type="text" class="form-control" id="name" name="name" v-model="newTask.name" placeholder="Display name" required="" aria-required="true">
                                </div>
                                <label id="name-error" class="error">{{errorText["name"]}}</label>
                            </div>
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line',{'focused':newTask.version!='','error':versionVdt===false, 'success':versionVdt===true}]">
                                    <input type="text" class="form-control" id="version" name="version" v-model="newTask.version" placeholder="Git version" required="" aria-required="true">
                                </div>
                                <label id="version-error" class="error">{{errorText["version"]}}</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line',{'focused':newTask.applicationName!='','error':applicationNameVdt===false, 'success':applicationNameVdt===true}]">
                                    <input type="text" class="form-control" name="applicationName" id="applicationName" v-model="newTask.applicationName" placeholder="Application name" required="" aria-required="true">
                                </div>
                                <label id="applicationName-error" class="error">{{errorText["applicationName"]}}</label>
                            </div>
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line',{'focused':newTask.arguments!='','error':argumentsVdt===false, 'success':argumentsVdt===true}]">
                                    <input type="text" class="form-control" name="arguments" v-model="newTask.arguments" required="" placeholder="Arguments" aria-required="true">
                                </div>
                                <label id="arguments-error" class="error">{{errorText["arguments"]}}</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group form-float col-md-6">
                                <div class="form-line focused success">
                                    <select class="form-control show-tick" v-model="newTask.nodeCount">
                                        <option value="1">1 Node</option>
                                        <option value="2">2 Nodes</option>
                                        <option value="3">3 Nodes</option>
                                        <option value="4">4 Nodes</option>
                                        <option value="5">5 Nodes</option>
                                        <option value="6">6 Nodes</option>
                                        <option value="7">7 Nodes</option>
                                        <option value="8">8 Nodes</option>
                                        <option value="9">9 Nodes</option>
                                        <option value="10">10 Nodes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line',{'focused':newTask.cron!='','error':cronVdt===false, 'success':cronVdt===true}]">
                                    <input id="CronValue" type="text" @@dblclick="onTriggerClick($event)" v-model="newTask.cron" class="form-control" name="cron" required="" placeholder="Trigger(Cron Expression)" aria-required="true">
                                </div>
                                <label id="cron-error" class="error">{{errorText["cron"]}}</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line',{'focused':newTask.analysts!=''}]">
                                    <input type="text" class="form-control" name="analysts" v-model="newTask.analysts" placeholder="Analysts" required="" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line',{'focused':newTask.developers!=''}]">
                                    <input type="text" class="form-control" name="developers" v-model="newTask.developers" placeholder="Developers" required="" aria-required="true">
                                </div>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line',{'focused':newTask.owners!=''}]">
                                    <input type="text" class="form-control" name="owners" v-model="newTask.owners" placeholder="Owners" required="" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group form-float col-md-6">
                                <div :class="['form-line','success',{'focused':newTask.tags!=''}]">
                                    <input type="text" class="form-control" name="tags" v-model="newTask.tags" placeholder="Tags" required="" aria-required="true">
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" :class="['btn','bg-light-green','btn-link','waves-effect',{'disabled':!buttonState}]" @@click="saveSpider()">SUBMIT</button>
                            <button type="button" class="btn bg-grey btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="SchedulerModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" userId="">
        <div class="modal-dialog" role="document" style="min-width:800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Set Trigger</span>
                    </h4>
                </div>
                <div class="modal-body" style="min-height:300px;">
                    <div id="cron1"></div>
                </div>
                <div class="modal-footer">
                    <button id="saveTrigger" type="button" class="btn bg-light-green btn-link waves-effect">OK</button>
                    <button type="button" class="btn bg-grey btn-link waves-effect" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <environment names="Development">
        <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="~/lib/CronScheduler/web/js/msCron.js" asp-append-version="true"></script>
        <script src="~/js/task/index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="~/lib/CronScheduler/web/js/msCron.js" asp-append-version="true"></script>
        <script src="~/js/task/index.min.js" asp-append-version="true"></script>
    </environment>
}