<h4>
    RUNNING TASKS
</h4>
<div id="view" class="card">
    <table class="bordered highlight responsive-table centered">
        <thead>
            <tr>
                <th>NAME</th>
                <th>APPLICATION</th>
                <th>CRON</th>
                <th>NODE</th>
                <th>RUNNING</th>
                <th>OS</th>
                <th>VERSION</th>
            </tr>
        </thead>
        <tbody>
            <tr v-show="tasks.length==0">
                <td colspan="9">
                    No data to display...
                </td>
            </tr>
            <tr v-for="task in tasks" :id="task.id">
                <td><span v-text="task.name"></span></td>
                <td><span v-text="task.applicationName"></span></td>
                <td><span v-text="task.cron"></span></td>
                <td><span v-text="task.nodeCount"></span></td>
                <td><span v-text="task.nodeRunningCount"></span></td>
                <td><span v-text="task.os"></span></td>
                <td><span v-text="task.version"></span></td>
            </tr>
        </tbody>
    </table>
    <div v-show="total>size">Showing <span v-text="page"></span> to <span v-text="size"></span> of <span v-text="total"></span> entries</div>
    <div v-show="total>size" id="pagination">
        <ul class="pagination"></ul>
    </div>
</div>
@section scripts{
    <script src="~/js/runningtask.js" asp-append-version="true"></script>
}